<button
  [title]="concept ? concept.title : 'Add new concept'"
  (mouseover)="hover = true"
  (mouseleave)="hover = false"
  (focusout)="isSelected = false"
  (click)="handleSelectConcept()"
  [class.active-btn]="isSelected"
  [ngStyle]="{
    background: concept?.color,
    'box-shadow': hover ? '0px 0px 20px -11px' + concept?.color : ''
  }"
  [class]="concept ? '' : 'new-concept'"
>
  <img
    [src]="concept ? concept.iconPath : 'assets/plus-bold.png'"
    alt="Component icon"
  />
</button>
