
<div class="content">
  <app-header />
  <ul>
    <li *ngFor="let concept of concepts">
      <app-concept-button 
        (selectedConceptEvent)="onSelectConcept(concept)" 
        [concept]="concept" 
      />
    </li>
    <li><app-concept-button (selectedConceptEvent)="onSelectConcept(undefined)"/></li>
  </ul>

  <main *ngIf="selectedConcept || isNewConceptButton">
    <app-concept-article *ngIf="selectedConcept" [concept]="selectedConcept"/>
    <div class="form-container" *ngIf="isNewConceptButton">
      <app-new-concept-form />
    </div>
  </main>
</div>
