article {
    width: 100%;
    padding: 2rem;
    border-radius: 8px;
    background: var(--second-bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

article h2 {
    font-size: 2rem;
}

.concept-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.concept-details p {
    font-weight: 300;
    color: var(--gray);
    text-align: justify;
}

article a {
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background: #C4473A;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-size: 1rem;
    transition: box-shadow  0.3s, background 0.3s;
}

article a {
    color: var(--main-bg-color);
}

article a:hover {
    box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.34);
    background: #c0392b;
}
